x-proxy_settings: &preset
  environment:
    - HTTP_PROXY=
    - HTTPS_PROXY=
    - http_proxy=
    - https_proxy=
  

services:
  ckb:
    build:
      context: ./ckb
      dockerfile: Dockerfile
      network: host
    healthcheck:
      test: ["CMD", "curl", "http://127.0.0.1:8114"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 20s
    ports:
      - 8114:8114
    <<: *preset
  fiber-bootnode:
    build:
      context: ./fiber
      dockerfile: Dockerfile
      network: host
    healthcheck:
      test: ["CMD", "curl", "http://127.0.0.1:41716"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 20s
    ports:
      - 8230:8228
      - 10000:10000
    volumes:
      - ./fiber/nodes/bootnode/config.yml:/config.yml:ro
      - ./fiber/nodes/bootnode/dev.toml:/dev.toml:ro
      - ./fiber/nodes/bootnode/ckb/key:/ckb/key:ro
      - ./fiber/nodes/bootnode/fiber/sk:/fiber/sk:ro
      - ./fiber/nodes/bootnode/store:/store
    depends_on:
      ckb:
        condition: service_healthy
    <<: *preset
  fiber-node1:
    build:
      context: ./fiber
      dockerfile: Dockerfile
      network: host
    healthcheck:
      test: ["CMD", "curl", "http://127.0.0.1:41716"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 20s
    depends_on:
      ckb:
        condition: service_healthy
      fiber-bootnode:
        condition: service_healthy
    ports:
      - 8231:8228
      - 10001:10000
    volumes:
      - ./fiber/nodes/node1/config.yml:/config.yml:ro
      - ./fiber/nodes/node1/dev.toml:/dev.toml:ro
      - ./fiber/nodes/node1/ckb/key:/ckb/key:ro
      - ./fiber/nodes/node1/fiber/sk:/fiber/sk:ro
      - ./fiber/nodes/node1/store:/store
    <<: *preset
  fiber-node2:
    build:
      context: ./fiber
      dockerfile: Dockerfile
      network: host
    healthcheck:
      test: ["CMD", "curl", "http://127.0.0.1:41716"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 20s
    depends_on:
      ckb:
        condition: service_healthy
      fiber-bootnode:
        condition: service_healthy
    ports:
      - 8232:8228
      - 10002:10000
    volumes:
      - ./fiber/nodes/node2/config.yml:/config.yml:ro
      - ./fiber/nodes/node2/dev.toml:/dev.toml:ro
      - ./fiber/nodes/node2/ckb/key:/ckb/key:ro
      - ./fiber/nodes/node2/fiber/sk:/fiber/sk:ro
      - ./fiber/nodes/node2/store:/store
    <<: *preset
  fiber-node3:
    build:
      context: ./fiber
      dockerfile: Dockerfile
      network: host
    healthcheck:
      test: ["CMD", "curl", "http://127.0.0.1:41716"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 20s
    depends_on:
      ckb:
        condition: service_healthy
      fiber-bootnode:
        condition: service_healthy
    ports:
      - 8233:8228
      - 10003:10000
    volumes:
      - ./fiber/nodes/node3/config.yml:/config.yml:ro
      - ./fiber/nodes/node3/dev.toml:/dev.toml:ro
      - ./fiber/nodes/node3/ckb/key:/ckb/key:ro
      - ./fiber/nodes/node3/fiber/sk:/fiber/sk:ro
      - ./fiber/nodes/node3/store:/store
    <<: *preset
  fiber-web:
    build:
      context: ./fiber-web
      dockerfile: Dockerfile
      network: host
    ports:
      - 3000:3000
    depends_on:
      fiber-bootnode:
        condition: service_healthy
    <<: *preset
  transfer:
    build:
      context: ./fiber
      dockerfile: Dockerfile.transfer
      network: host
    depends_on:
      ckb:
        condition: service_healthy
    <<: *preset
